# Compiler files
cache/
out/
lib
lib/forge-std
lib/openzeppelin-contracts
lib/openzeppelin-contracts@6
lib/openzeppelin-contracts@8

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

node_modules/
node_modules/*

# Dotenv file
.env
